.centered{
    text-align: center;
}

.dark{
    background-color: rgb(61, 61, 61);
    color:aliceblue;
}
.photo-block{
    border: 1px solid sandybrown;
    margin: 1%;
    border-radius: 10px;
}
.photo-image{
    width: 100%
}

#gallery-container{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}



.form-block label{
    display: block;
}

.dark input, select{
    background-color: rgb(141, 141, 141);
    border: 1px solid black;
    color: white;
}

div.card{
    background-color: rgb(109, 109, 109);
    color: white;
    margin-bottom: 2.5%;
}

.dark input:focus, select:focus{
    background-color: rgb(109, 109, 109);
    color: white;

}

#page-header{
    margin-bottom: 2%;
}

button[type="submit"]{
    margin-top: 1.5%;
}

img.profile-picture{
    max-width: 20px;
    border-radius: 50%;
}

.dark .toast{
    background-color: rgb(88, 88, 88);
    color: white;
}

.dark .toast-header{
    background-color: rgb(102, 102, 102);
    color: white;
}
